.# Sensitive Information
.env
*.key
*.pem

# Local data (If you use bind mounts instead of named volumes)
# data/
# pgdata/
# minio_data/

# OS specific
.DS_Storeenv

# data
minio_data
pg_data
redis_data

